<nav>
  <div class="options row">
    <%= button_to 'Add New List', new_list_path, method: :get, class: "option-button" %>
  </div>
</nav>

<main>
  <% @lists.each do |list| %>
      <%= link_to(list.title.upcase, list_path(list), method: :get, class: "list" ) %>
  <% end %>
</main>
