<nav>
  <div class="options row">
    <%= button_to 'Add New List', new_list_path, method: :get, class: "option-button" %>
  </div>
</nav>

<main>
  <% @lists.each do |list| %>
    <% if list.position_x.nil? or list.position_y.nil? %>
      <%= link_to(list.title.upcase, list_path(list), method: :get, class: "list", id:"#{list.id}" ) %>
    <% else %>
      <%= link_to(list.title.upcase, list_path(list), method: :get, class: "list", id:"#{list.id}", style:"position:absolute; top:#{list.position_y}px;left:#{list.position_x}px; " ) %>
    <% end %>


  <% end %>
</main>
