<div class = "new_list_form">

  <h2>Create New List:</h2>

  <%= form_for @list, url: {action: "create"} do |f| %>
    <p>
      <%= f.label :title, "Title:"%><br>
      <%= f.text_field :title, :size=>"52" %>
    </p>

    <p>
      <%= f.submit value: "Submit"%>
    </p>

  <% end %>
</div>
