/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/



body, header, nav, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #a7a7a7;
}

header {
  padding:1% 0;
  background: #d8c5c5;
}

main {
  background: #a7a7a7;

}
/**************** Navigation ****************/

.options{
  /*margin-bottom: 2%;*/
  text-align:center;
}

.option-button{
  margin: 0% auto;
}

nav {
  background: #d8c5c5;
  /*padding: 1% 0;*/
  height:64px;
  /*border-bottom: 1px solid black;*/
}


/**************** List Index Page ****************/

.list{
  background: #fff;
  /*border: solid 2px black;*/
  box-shadow: 1px 1px 1px black;
  margin: 2% 1%;
  padding: 0 5%;
  text-align: center;
  font-size:2em;
  float:left;
  font-family: 'Bree Serif', Palatino, Georgia, serif;
}

.list::after{
  clear:both;
}

/**************** List Item Page ****************/
.list_items{
  background: #fff;
  border: solid 2px #ff5779;
  margin: 20px;
  padding: 5px;
  width:40%;
  min-width: 566px;
  font-family: 'Karla', Verdana, sans-serif; font-weight: 700;
}

.title {
  font-size:2em;
  text-align:center;
  border-bottom: solid 1px #ff5779;
  font-family: 'Bree Serif', Palatino, Georgia, serif;
}

.list_item{
  width:75%;
  margin:0;
  padding:0;
  display:inline-block;
}

.list_item form {
  display:inline;
}

.list_button{
  margin:0;
  padding:0;
  width:10%;
  display:inline-block;
}

.itemButton{
  margin:0;
  padding:0;
  display:inline-block;
}

.item {
  border-bottom: solid 1px #ff5779;
  margin: 2% 0;
  padding-bottom:2%;
}

.item:hover{
  background:pink;
}

.delete {
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  /*border-radius: 5px;*/
  /*border:solid red 3px;*/
  color:red;
  cursor: pointer;
  display:inline;
}

.hoverCaption {
  font-size:5em;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 35%;
  right: 0;
  background: none;
  color: grey;
  text-shadow: 1px 1px 1px white;
  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}

.wrapper:hover .hoverCaption {
  visibility: visible;
  opacity: .7;
}

.markComplete {
  cursor: pointer;
  color:green;
}

.markComplete:hover .hoverCaption {
  visibility: visible;
  opacity: .7;
}

.itemText{
  margin-left:10px;
}

.itemComplete {
  text-decoration: line-through;
}

.editItem:hover .hoverCaption {
  visibility: visible;
  opacity: .7;
}

/**************** New List Item Form ****************/

.new_item_form {
  text-align: center;
  margin: 0 auto;
}

/**************** New List Form ****************/

.new_list_form {
  text-align: center;
  margin: 0 auto;
}

/**************** Fonts ****************/

a {
  text-decoration:none;
  color:black;
}

h1 {
  font-family: 'Dosis', Verdana, sans-serif; font-weight: 700;
  text-align: center;
  font-size: 3em;
  padding:0;
  margin:0;
}

/**************** Media Queries ****************/

@media screen and (max-width: 600px) {
 .list {
   display:block;
   float:none;
 }

 .list_items{
   width:90%;
   margin:20px auto;
   min-width: 0px;
 }

 .list_item{
   width:65%;
 }

 .list_button{
   width:16%;
 }

}
