body, header, nav, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #a7a7a7;
}

header {
  padding:1% 0;
  background: #d8c5c5;
}

main {
  background: #a7a7a7;

}
/**************** Navigation ****************/

.options{
  /*margin-bottom: 2%;*/
  text-align:center;
}

.option-button{
  margin: 0% auto;
}

nav {
  background: #d8c5c5;
  /*padding: 1% 0;*/
  height:64px;
  /*border-bottom: 1px solid black;*/
}


/**************** List Index Page ****************/

.list{
  background: #fff;
  /*border: solid 2px black;*/
  box-shadow: 1px 1px 1px black;
  margin: 2% 1%;
  padding: 0 5%;
  text-align: center;
  font-size:2em;
  float:left;
  font-family: 'Bree Serif', Palatino, Georgia, serif;
}

.list::after{
  clear:both;
}

/**************** List Item Page ****************/
.list_items{
  background: #fff;
  border: solid 2px #ff5779;
  margin: 20px;
  padding: 5px;
  width:40%;
  min-width: 566px;
  font-family: 'Karla', Verdana, sans-serif; font-weight: 700;
}

.title {
  font-size:2em;
  text-align:center;
  border-bottom: solid 1px #ff5779;
  font-family: 'Bree Serif', Palatino, Georgia, serif;
}

.list_item{
  width:75%;
  margin:0;
  padding:0;
  display:inline-block;
}

.list_button{
  margin:0;
  padding:0;
  width:10%;
  display:inline-block;
}

.itemButton{
  margin:0;
  padding:0;
  display:inline-block;
}

/**************** New List Item Form ****************/

.new_item_form {
  text-align: center;
  margin: 0 auto;
}

/**************** New List Form ****************/

.new_list_form {
  text-align: center;
  margin: 0 auto;
}

/**************** Fonts ****************/

a {
  text-decoration:none;
  color:black;
}

h1 {
  font-family: 'Dosis', Verdana, sans-serif; font-weight: 700;
  text-align: center;
  font-size: 3em;
  padding:0;
  margin:0;
}

/**************** Media Queries ****************/

@media screen and (max-width: 600px) {
 .list {
   display:block;
   float:none;
 }

 .list_items{
   width:90%;
   margin:20px auto;
   min-width: 0px;
 }

 .list_item{
   width:65%;
 }

 .list_button{
   width:16%;
 }

}
